.tab {
  
  overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    position: relative;
    
    display: flex;
    width: 700px;
 
    
    
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
.search{
    background-color: aquamarine;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    right: 40px;
   
    
}
.upper{
  height: 50px;
  width: fill;
  display: flex;
  background-color: rgb(18, 44, 214);
  position: relative;
  
  

}
.logo{
  height: 40px;
  width: 35px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 4px;
}
.Heading{
  font-size: 32px;
  margin-left: 20px;
  margin-top: 6px;

}
#div1{
  border-radius: 10px;
  background-color: rgb(245, 249, 249);
  border-color: black;
  margin-top: 10px;
  height: auto;
  font-style: initial;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 30px;
  width: 700px;
  
  
}


.temp{
  color: rgb(8, 8, 8);
  display: flex;
  
}
.city{
 font-size: 60px; 
 text-align: center;
 justify-items: center;
 margin-top: 60px;
 margin-right: 180px;

 
 justify-content: center;

}

.Pos{
  display: grid;
  gap: 10px;
  height: 300px;
  width: auto;
  margin-left: 60px;
  margin-right: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
  
  
  
}
.search{
  margin-top: 10px;
 
  display: flexbox;

  align-items: center;
  height: 40px;
  margin-left: 40px;

}
div.search input{
  padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;

background: #f1f1f1;
}
div.search button{
float: left;
border: 1px solid grey;
border-left: none; /* Prevent double borders */
cursor: pointer;
margin-left: 2px;
height: 40px;
}
div.search button :hover{
  background: #b5cadc;
}
.sbox{
  height: 35px;
  align-content: center;
}
.pos2{
  align-content: center;
  margin-left: auto;
  font-weight: bolder;
  color: rgb(0, 0, 0);


}
.men{
  display: flex;
  
}
.pos3{
  align-content: center;
  margin-left: auto;
  font-size: larger;
  color: rgb(0, 0, 0);
}
#Home{
  text-underline-offset: none;
}
.subnav-content {
  display: none;
  position: relative;
  left: 0;
  background-color: rgb(218, 193, 193);
  width: 100%;
  z-index: 1;
  height: 24px;
}
.subnav {
  float: left;
  overflow: hidden;
  
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  display: grid;

}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(21, 245, 73);
}     
.subnav:hover .subnav-content {
  display: block;
} 

.img{
  height: 20px;
  position: relative;
  margin-left: 10px;
  margin-right: 40px;
  
}
.sbox{
  height: 15px;
  align-content: center;
  margin-bottom: 25px;
}
.table{
  background-color: rgb(192, 201, 198);
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 0, 128);
  padding: 10px;
}
.last{
  font-size: 25px;
  text-align: center;
  justify-content: center;
  font-style: italic;

}


  
  